:root {
    --panel-w-size: 375px;
    --panel-h-size: 500px;
    --panel-w-segs: 5;
    --panel-h-segs: 4;
    --tile-h-size: calc(var(--panel-h-size) / var(--panel-h-segs));
    --tile-w-size: calc(var(--panel-w-size) / var(--panel-w-segs));
}
body {
    background-color: #2063a7;
    margin: 0;
    padding: 0;
}

.option {
    display: flex;
    color: white;
}

.option input {
    width: 30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel {
    position: relative;
    margin-top: 20px;
    width: var(--panel-w-size);
    height: var(--panel-h-size);
    background-color: #13395f;
    border: solid 1px #7db7f0;
}
.tile {
    position: absolute;
    background-color: #2f8ff0;
    top: 0;
    left: 0;
    width: var(--tile-w-size);
    height: var(--tile-h-size);
    border: solid 1px #7db7f0;
    box-sizing: border-box;
    transition: all linear 0.07s;
}

.tile:hover {
    filter: brightness(1.1);
}

.tile.x0.y0 {
    transform: translate(0px, 0px);
}

.tile.x0.y1 {
    transform: translate(0px, var(--tile-h-size));
}

.tile.x0.y2 {
    transform: translate(0px, calc(var(--tile-h-size) * 2));
}

.tile.x0.y3 {
    transform: translate(0px, calc(var(--tile-h-size) * 3));
}

.tile.x1.y0 {
    transform: translate(var(--tile-w-size), 0px);
}

.tile.x1.y1 {
    transform: translate(var(--tile-w-size), var(--tile-h-size));
}

.tile.x1.y2 {
    transform: translate(var(--tile-w-size), calc(var(--tile-h-size) * 2));
}

.tile.x1.y3 {
    transform: translate(var(--tile-w-size), calc(var(--tile-h-size) * 3));
}

.tile.x2.y0 {
    transform: translate(calc(var(--tile-w-size) * 2), 0px);
}

.tile.x2.y1 {
    transform: translate(calc(var(--tile-w-size) * 2), var(--tile-h-size));
}

.tile.x2.y2 {
    transform: translate(
        calc(var(--tile-w-size) * 2),
        calc(var(--tile-h-size) * 2)
    );
}

.tile.x2.y3 {
    transform: translate(
        calc(var(--tile-size) * 2),
        calc(var(--tile-size) * 3)
    );
}
